* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D8EDFF;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

button:hover, a:hover {
  cursor: pointer;
}

a, a:hover, a:visited {
  text-decoration: none;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  font-size: 65px;
  color: #0029FF;
}

h2 {
  margin-bottom: 30px;
  font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 80px;
  border: solid black 3px;
  border-radius: 5px;
}

input {
  height: 40px;
  width: 80px;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  color: #E43333;
}

::placeholder {
  font-size: 22px;
  text-align: center;
}

button {
  font-size: 22px;
  background: #ddffb7;
  border: solid #9DEE42 3px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

button:hover {
  background: #C5FB8A;
}

button#clear-btn {
  background: #B0FFFF;
  border: solid #33E4E4 3px;
}

button#clear-btn:hover {
  background: #93ffff;
}

span.buttons {
  margin-top: 15px;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}